# Node.js specific ignores
node_modules/
npm-debug.log
yarn-error.log

# Development/version control related ignores
.git/
.gitignore
.editorconfig
.vscode/ # If you use VS Code for development
*.log # General log files

Dockerfile
docker-compose.yml

# Files not needed in the final image
LICENSE
.nvmrc
reporting_system.sql
*.md
*.sql